/* @font-face {
    font-family: 'Poppins';
    src: url('./path/to/your/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2'),
         url('./path/to/your/fonts/pxiEyp8kv8JHgFVrJJfecg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
   */